/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}li{
    list-style: none;
}
a, a:hover {
    color: #000;
    text-decoration: none;
}

.truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ul-reset {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
    }
}

@import "mixin";
@import "header";
.tag{
    padding-top: 80px;
}
.tag-item{
    padding-top: 20px;
    display: flex;
    align-items: center
}
.tag-icon{
    padding-right: 10px;
    a{
        display: flex;
        ion-icon{
            padding-right: 10px;
        }
    }
}
.tag-link{
    position: relative;
    padding-left: 20px;
    &::before{
        content: "/";
        position: absolute;
        left: 0;
    }
    a{
        color:#d09754; 
    }
}
.main-text{
    background-color: #d09754;
    height: 400px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 40px;
}
.main-title{
    span{
        font-size: 40px;
        line-height:90px;
        text-transform: uppercase;
        color: #472518;
    }
    p{
        @include VNF-Comic;
        color: #472518;
        font-size: 25px;
        line-height: 50px;
    }
}
.main-address{
    color: #ffff;
    display: flex;
    align-items: center;
    line-height:40px;
    span{
        font-weight: 600;
        padding-right: 10px;
    }
}

.main-hotline{
    @extend .main-address;
}
.main-email{
    @extend .main-address;
}
.main-form{
    margin-top: 30px;
    background-color: #472518;
    height: 400px;
    padding: 30px;
}
.no-gutters{
    margin-left: 0;
    margin-right: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding-left: 0;
    padding-right: 0;
}
.input-group{
    line-height:30px;
    width: 100%;
    margin-bottom: 20px;
    input{
        border-radius: 5px;
        padding: 6px 12px;
        width: 100%;
        border: 0;
        outline: none;
    }
}
.text-textarea{
    textarea{

        border-radius: 5px;
        width: 100%;
        border: 0;
        outline: none;
        padding-top: 10px;
        padding-left: 10px;
    }
}
.form-submit{
    margin-top: 10px;
    button{
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        border: 0;
        outline: 0;
        background: #d09754;
        color: #fff;
        padding: 10px 14px
    }
}
.map{
    margin-top: 30px;
    padding-bottom: 20px;
}
@import "footer";
@include maxWidth(820px) {
    .header-top{
        display: none;
    }
    .menu-repon{
        display: block !important;
    }
    .nav{
        position: fixed;
        z-index: 9999;
    }
    .nav-item{
        display: block;
    }
    .list-menu{
        transition: all .6s;
        padding-left: 70px;
        width: 60%;
        height: 100vh;
        display: block !important;
        position: absolute;
        left: -600px;
        background: #403D38;
        li{
            padding-top: 50px;
        }
        &.active{
            left: 0;
        }
    }
    .nav-advise {
        display: none;
    }

    .input-group {
        flex-wrap: nowrap;
        input{
            width: 100%;
        }
    }
    .main-text{
        padding-left: 40px;
    }
    .main-address{
        font-size: 14px;
    }
    .footer{
        height: auto;
        padding-bottom: 20px;
    }
    .footer-item{
        // padding-top: 20px;
    }
    .item-title {
        p{
            padding-top: 20px;
            font-size: 18px;
        }
    }
    .footer-list  {
        li{
            padding-top: 30px;
        }
        li a{
            font-size: 14px;
        }
    }
    .map-content{
        padding-top: 10px;
    }
}
@include maxWidth(468px){

    .list-menu{
        padding-left: 10px;
    }
    .nav-menu .list-menu li a{
        font-size: 14px;
    }
    .list-banner{
        height: 300px;
    }
    .banner-item{
        height: 280px;
        padding-top: 80px;
        img{
            height: 100%;
        }
    }
    .list-tag{
        height: auto;
    }
    .input-group{
        flex-wrap: nowrap;
    }
    .main-text{
        padding-left: 10px;
    }
    .post-main-title{
        line-height:30px;
    }
    .post-main-text{
        font-size: 14px;
    }
}